    <header>
        <div class="hero">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="galeria.html">Galería</a></li>
                    <li><a href="calidad_y_sostenibilidad.html">Calidad Y Sostenibilidad</a></li>
                    <li><a href="acerca_de_nosotros.html">Acerca De Nosotros</a></li>
                    <li><a href="contacto.html">Contactanos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="preguntas_frecuentes.html">Preguntas Frecuentes(FAQ)</a></li>
                    <li><a href="procesos.html">Procesos Informativos</a></li>
                    <li><a href="Ubicacion.html">Ubicacion Invernadero</a></li>
                </ul>
            </nav>
            <h1>Bienvenido a Invernaderos Mendoza</h1>
            <p>¡Haz crecer tus semillas con nosotros!</p>
        </div>
    </header>